onnx==1.13.0
skl2onnx==1.13
onnxruntime==1.13.1

#
scikit-learn==1.1.1   # <-- skl2onnx 1.13 has requirement scikit-learn<=1.1.1
pandas==1.5.2
matplotlib==3.6.2

# libraries for running unit and static tests on code
pytest==7.2.0
black==22.12.0
mypy==0.991

#
composable-logs-snapshot

# See:
#   https://github.com/composable-logs/composable-logs/pull/212
#   https://github.com/nteract/papermill/issues/711
jupyter-client==7.3.5
